{% block header %}
<nav class="navbar navbar-expand-sm justify-content-between" id="upper-nav">
        <a class="navbar-brand font-weight-bold" href="{% url 'home' %}">4Code</a>
        <form class="form-inline ml-auto mr-4 d-none d-lg-flex">
            <div class="form-group">
                <input class="form-control mr-sm-2" type="text" name="search" placeholder="Search" action="{% url 'home' %}" aria-label="Search" method="GET">
                <button class="btn " type="submit">Search</button>
            </div>
        </form>
        <div class="navbar-nav flex-row mr-1"> 
            <a class="nav-item nav-link sun " href="#"><i class="fas fa-sun active"></i></a>
            <a class="nav-item nav-link moon" href="#"><i class="fas fa-moon"></i></a>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg sticky-top" id="navbar" >
        <!-- Hamburger menu -->
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
            data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false"
            aria-label="Navbar toggleer">
            <span class="navbar-toggler-icon">
                <i class="fas fa-bars"></i>
            </span>
        </button>

        <div class="collapse navbar-collapse" id="mainmenu">

            <ul class="navbar-nav ml-auto mr-auto">

                <li class="nav-item mr-4">
                    <a class="nav-link active" href="{% url 'home' %}">HOME </a>
                </li>
                <li class="nav-item mr-4">
                    <a href="{% url 'random_article' %}" class="nav-link active"> RANDOM ARTICLE </a>
                </li>
                <li class="nav-item mr-4">
                    <a href="{% url 'about' %}" class="nav-link active"> ABOUT </a>
                </li>
                <li class="nav-item dropdown mr-4">
                    <a class="nav-link dropdown-toggle active" href="#" data-toggle="dropdown" role="button" aria-expanded="false" id="submenu" aria-haspopup="true"> CATEGORIES </a>

                    <div class="dropdown-menu" aria-labelledby="submenu">

                        <a class="dropdown-item" href="#"> Python </a>
                        <a class="dropdown-item" href="#"> Javascript </a>
                        <a class="dropdown-item" href="#"> Data Science </a>
                    </div>

                </li>

            </ul>
            <form class="form-inline  d-flex d-lg-none"  method="GET" action="{% url 'home' %}">
                <input class="form-control mr-sm-2" type="text" name="search" placeholder="Search" aria-label="Search">
                <button class="btn my-2 my-sm-0" type="submit">Search</button>
            </form>

            </div>
        </nav>
{% endblock %}

